USE [master]
GO

CREATE DATABASE [J3.L.P0013] 

CREATE TABLE [dbo].[Information](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[content] [nvarchar](250) NOT NULL
) 

INSERT [dbo].[Information] ([id], [name], [content]) VALUES (1, N'imgCover', N'i282319414620330848._szw1280h1280_.jpg')
INSERT [dbo].[Information] ([id], [name], [content]) VALUES (2, N'address', N'The Sushi Restaurant
New York, NY, USA')
INSERT [dbo].[Information] ([id], [name], [content]) VALUES (3, N'tel', N'12345')
/****** Object:  Table [dbo].[Article]    Script Date: 06/01/2018 12:04:23 ******/

CREATE TABLE [dbo].[Article](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[imgLink] [nvarchar](50) NOT NULL,
	[shortContent] [nvarchar](max) NOT NULL,
	[fullContent] [nvarchar](max) NOT NULL
) 


